body{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainarea{
    height:610px;
    width:500px;
    background-color: brown;
    margin:100px auto;
    margin-top: 10px;
    border-radius: 5px;
    border-top: 20px;
    /* display: flex; */
    
}

.tfield{
    /* border-top: 10px; */
    height:100px;
    /* width:480px; */
    
    margin:10px auto;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 10px;
    /* padding: 10px 10px; */
    text-align: right;
    font-size: 30px;
    align-content: center;
    pointer-events: none;
}

.buttons{
    display: grid;
    height: 490px;
    margin-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* column-gap: ; */
    
}
button{
    /* height: 100px; */
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
}
.btnc{
    background-color: blanchedalmond;
    border-color: black;
}
.btnc:hover{
    background-color:grey;
    color: white;
    transition: ease-in-out ;
}
.btnc:active{
    background-color: black;
    color: white;
    
}
#startbrac{
    grid-column-start: 2;
    grid-column-end: 3;
}
#clear{
    background-color: red;
}
#clear:hover,#dellast:hover{
    background-color: rgb(75, 5, 16);
    color: white;
}
/* #equals{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
} */

#dellast{
    background-color: yellow;
}
#dellast:active{
    background-color: black;
    color: white;
}
#equals{
    background-color: green;
}
#equals:hover{
    background-color: greenyellow;
}
#equals:active{
    background-color: black;
    color: white;
}


